*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
   body {
    font-family: Arial,sans-serif;
    background-color :rgb(71, 71, 71);
    color:aliceblue;
    margin: 0;
     }

     header {
        background-color: rgb(102, 127, 143);
        margin-bottom: 0;
        padding: 10px 20px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgb(211, 211, 211);
     }

     nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
     }

     nav .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 30px;
     }

     nav .logo img {
        height: 30px;
        width: auto;
        margin-bottom: 8px;
        border-radius: 100px;
     }

     nav ul {
        display: flex;
        gap: 20px;
        list-style: none;
     }

     nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 5px; /* sudut membulat */
        transition: bacground-color 0.3s ease;
        margin-top: 30px;

      }
     nav ul li a:hover {
        background-color: rgb(255, 255, 255, 0.1);
     }

     nav ul li a.active {
        background-color: #a8a8a8;
        color: white;
        font-weight: bold;
     }
     .hero {
         min-height: 100vh;
         width: 100%;
         background-image: linear-gradient(
            to right,
            rgba(4, 9, 30, 0.555),
            rgba(4, 9, 30, 0.555)
         ),
         url('sofware-editing.webp');
         background-position: center;
         background-size: cover;
         position: relative;
     }
     .hero-text {
      width: 90%;
      color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -59%);
      text-align: center;
     }

     .hero-text h1 {
      color: #ffffff;
      font-size: 50px;
      font-family: Arial;
      font-optical-sizing: auto;
      font-weight: weight;
     }
      
     .hero-text p {
      color: #ffffff;
      font-size: 20px;
      font-family: Arial, sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
     }

     .hero-btn {
      background-color: rgba(0, 0, 0, 0.438);
     }

     .hero-button {
      display: inline-block;
      text-decoration: none;
      border: 1px solid #fff;
      padding: 12px 34px;
      font-size: 13px;
      background: transparent;
      color: white;
      position: relative;
      cursor: pointer;
      border-radius: 8px;
     }

     .hero-button:hover {
      border: 1px solid lightblue;
      background: lightblue;
      transition: 0.3s ease;
     }
     .about {
      padding: 10px 20px;
      background-color: rgb(183, 186, 211);
      padding-left: 40px;
      scroll-padding-right: 40px; 
     }
     .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0,20px;
     }

     .section-title {
      color: rgb(255, 255, 255);
      text-align: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
     }

     .section-title h2 {
      font-size: 30px;
      font-weight: bold;
      color: #332;
      text-align: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
     }

     .about-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 40px;
      padding: 0 20px;
     }

     .about-left,.about-right {
      flex: 1;
      text-align: justify;
     }

     .about-left h3,.about-right {
      color: #332;
      margin-bottom: 15px;
      font-size: 24px;
     }

     .about-left p, .about-right p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 15px;
     }

     .about-left ul li {
      color: rgb(255, 255, 255);
      margin-right: 10px;
      font-size: 15px;
     }
     .logo-container{
      background-color: white;
      padding: 2rem;
     }

     .logos {
      max-width: 200px;
      max-height: 100px;
      filter: grayscale(100%);
      transition: filter 0. 3s ease;
      border-radius: 100%;
      
     }

     .logo-client {
      width: 250px;
      display: flex;
     }

     .container {
      display: grid;
      flex-wrap: wrap;
      text-align: center;
      padding: 40px;
      grid-template-columns: 1fr repeat(1,1fr);

     }

     .card {
      background-color: rgb(40, 41, 80);
      border: 1px solid rgb(21, 11, 110);
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(252, 252, 252, 0.929);
      margin: 13px;
      padding: 23px;
      width: 80%;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr repeat(1,1fr);
     }

     .card h3 {
      margin: 0;
      font-size: 18px;
      color: #fff;
     }

     .card p {
      margin: 5px 0 0;
      color: #fff;
     }

     .filter-btn {
      padding: 10px 20px;
      margin: 0 5px;
      border: none;
      background-color: #f4f4f4;
      cursor: pointer;
      transition: background-color 0.3s ease;

     }

     .filter-btn.active,
     .filter-btn:hover {
      background-color: #218838;
      color: white;

     }

     .filter-btn.active {
      background-color: #28a745;
      color: white;

     }

     .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
      gap: 20px;
      padding: 20px;
      max-width: 1200px;
      margin: 0 auto;

     }

     .item {
      position: relative;
      width: 100%;
      padding-top: 100%;

     }

     .item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

     }

     .item img:hover {
      transform: scale(1.05);

     }

     #secondary-nav1 {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      
     }

     .footer {
      max-width: auto;
      margin: auto;
      padding: 1rem;
      text-align: center;
      background-color: rgb(24, 25, 102);
      color: white;

     }

     .foot-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      background-color: var(--BackgroundUtama);
      max-width: auto;
      margin: auto;

     }

     .foot-page{
      border-left: 1px solid var(--BackgroundSet);
      padding: 1rem 1rem;
      text-align: justify;

     }

     .foot-btn {
      background-color: beige;

     }

     .foot-button{
      display: inline-block;
      background: rgb(36, 32, 94);
      text-decoration: none;
      padding: 10px 20px;
      color: white;
      border: 2px solid white;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;

     }

     .foot-text .foot-button:hover {
      background-color: rgb(19, 13, 107);
      border: 1px solid lightblue;
      transition: 0.3s ease;
     }

